:root {
  --blue: #b3c8fa;
  --green: #95b19f;
  --red: #f58ea6;
  --grey: #adadad;
  --orange: #ffdb99;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
